{
  "branches": ["main"],
  "plugins": [
    "semantic-release-unsquash",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
